    .main-news {
    display: block;
    float: left;
    }   
    .main-photo{
    position: relative;
    }
    .main-description {
    position: absolute;
    color: white;
    background-color: rgba(255,255,255,0.25);
    font-family: bold;
    font-size:25px;
    top: 280px;
    left: 10px;
    }
    .main-time {
    position: absolute;
    color: white;
    font-size:15px;
    top: 320px;
    left: 10px;
    }
    .news-description {
    color:black;
    float: left; 
    padding: 5px;
    margin-right: 5px; 
    width: 50%; 
    font-size:17px;
    font-weight: bold;
    }
    .news-description a {
    text-decoration: none;
    color: black;
    list-style: none;
    }
    .actualy-news {
    border-bottom: 1px solid grey;
    }
    .photo-news {
    text-align: right;
    }
    .actialy-time{
    font-size: 15px;
    font-weight: normal;
    }
    .submit {
        font-size: 17px;
        color: white;
        background-color:  #1E90FF;
        width: 400px;
        height: 30px;
        text-align: center;
        margin-left: 110px;
        margin-top: 20px;
        padding-top: 3px;
        margin-bottom: 60px;
        }